<div class="content-wrapper">
    <section class="content adm-content">
        <div class="container-fluid">
            <div class="row justify-content-center margin-bottom">
                <div class=" col-lg-4 col-md-4">
                    <!-- Default box -->
                    <a href="/cadastroEmpresa">
                        <div class="card h-100 card-style">
                            <div class="card-header">
                                <h3 class="card-title">Cadastrar Empresa</h3>
                            </div>
                            <div class="card-body">
                                Cadastre aqui a empresa
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="/cadastroLoja">
                        <div class="card h-100 enviar-form card-style" id="card-form">
                            <div class="card-header">
                                <h3 class="card-title enviar-form" id="form">Cadastrar Loja</h3>
                            </div>
                            <div class="card-body">
                                Cadastre aqui a Loja
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-lg-4 col-md-4">
                    <a href="/cadastroLojista">
                        <div class="card h-100 card-style">
                            <div class="card-header">
                                <h3 class="card-title">Cadastro de Lojista</h3>
                            </div>
                            <div class="card-body">
                                Cadastre Lojistas aqui
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class=" col-lg-4 col-md-4">
                    <a href="/listarFormulario">
                        <div class="card h-100 card-style">
                            <div class="card-header">
                                <h3 class="card-title">Listar Formulário</h3>
                            </div>
                            <div class="card-body">
                                Listar Formulários
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-lg-4 col-md-4">
                    <a href="#">
                        <div class="card h-100 card-style">
                            <div class="card-header">
                                <h3 class="card-title">Gerar Contrato</h3>
                            </div>
                            <div class="card-body">
                                Gere e Envie contrato para o Lojista
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>