<div class="content-wrapper">
    <section class="content">
        <form id="formEmpresa">
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header ">
                        <h3 class="card-title">Cadastro De Empresa</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="razaoSicial">Razão Social:</label>
                                    <input type="text" data-val="true" class="form-control" id="inputRazaoSocial" style="max-width: 75%"
                                        placeholder="Entre com o nome da Empresa" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cnpjEmpresa">CNPJ:</label>
                                    <input type="text" class="form-control cnpj" id="inputCnpj" style="max-width: 75%"
                                        required>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="nomeFantasia">Nome Fantasia:</label>
                                    <input type="text" class="form-control" id="inputNomeFantasia"
                                        style="max-width: 75%" placeholder="Nome Fantasia" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="inscricaoEstadual">Inscrição Estadual</label>
                                        <input type="text" class="form-control" id="inputInscricaoEstadual"
                                            style="max-width: 75%" placeholder="Inscrição Estadual" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="inscricaoMunicipal">Inscrição Municipal</label>
                                    <input type="text" data-val="true" class="form-control" id="inputInscricaoMunicipal"
                                        style="max-width: 75%" placeholder="Inscrição Municipal">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="emailEmpresa">Email:</label>
                                    <input type="email" class="form-control" id="inputEmailEmpresa"
                                        style="max-width: 75%" placeholder="Email da empresa" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="cepEmpresa">CEP:</label>
                                    <input type="text" class="form-control cep" id="inputCepEmpresa" style="max-width: 45%"
                                        placeholder="CEP da Empresa" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="ruaEmpresa">Rua:</label>
                                    <input type="text" class="form-control" id="inputRuaEmpresa" style="max-width: 75%"
                                        placeholder="Rua da Empresa" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="numeroEmpresa">Número:</label>
                                    <input type="text" class="form-control" id="inputNumeroEmpresa"
                                        style="max-width: 41%" placeholder="Número da empresa" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="bairroEmpresa">Bairro:</label>
                                    <input type="text" class="form-control" id="inputBairroEmpresa"
                                        style="max-width: 75%" placeholder="Bairro da empresa" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="cidadeEmpresa">Cidade:</label>
                                    <input type="text" class="form-control" id="inputCidadeEmpresa"
                                        style="max-width: 75%" placeholder="Cidade da empresa" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="uf">Estado:</label>
                                    <input type="text" class="form-control" id="inputUfEmpresa" style="max-width: 50%"
                                        placeholder="Estado da empresa" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="complementoEmpresa">Complemento:</label>
                                    <input type="text" class="form-control" id="inputComplementoEmpresa"
                                        style="max-width: 75%" placeholder="Complemento">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header ">
                        <h3 class="card-title">Socio</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nomeSocio">Nome Sócio:</label>
                                    <input type="text" class="form-control" id="inputNomeSocio" style="max-width: 75%"
                                        placeholder="Nome Sócio 1" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="cpfSocio">CPF:</label>
                                        <input type="text" class="form-control cpf" id="inputCpf" style="max-width: 45%"
                                            placeholder="CPF" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="telefoneSocio">Telefone:</label>
                                    <input type="text" class="form-control" id="inputTelefoneSocio"
                                        style="max-width: 75%" placeholder="Telefone">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cepSocio">CEP:</label>
                                    <input type="text" class="form-control cep" id="inputCep" style="max-width: 45%"
                                        placeholder="CEP do Socio" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ruaSocio">Rua:</label>
                                    <input type="text" class="form-control" id="inputRuaSocio" style="max-width: 75%"
                                        placeholder="Rua da Socio" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="numeroSocio">Número:</label>
                                    <input type="text" class="form-control" id="inputNumero" style="max-width: 45%"
                                        placeholder="Número" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="bairroSocio">Bairro:</label>
                                        <input type="text" class="form-control" id="inputBairro" style="max-width: 75%"
                                            placeholder="Bairro" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="bairroSocio">Cidade:</label>
                                    <input type="text" class="form-control" id="inputCidade" style="max-width: 75%"
                                        placeholder="Cidade">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ufSocio">Estado:</label>
                                    <input type="text" class="form-control" id="inputUf" style="max-width: 50%"
                                        placeholder="Estado" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="telefoneSocio">Complemento:</label>
                                    <input type="text" class="form-control" id="inputComplementoSocio"
                                        style="max-width: 75%" placeholder="Complemento">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--./Renda Familiar-->
                <div class="card card-default">
                    <div class="card-header ">
                        <h3 class="card-title">Responsável Pelo Contrato</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nomeSocio">Nome Sócio:</label>
                                    <input type="text" class="form-control" id="inputNomeSocio" style="max-width: 75%"
                                        placeholder="Nome Sócio 1" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="telefoneResponsavelContrato">Telefone:</label>
                                        <input type="text" class="form-control" id="inputTelefoneResponsavel"
                                            style="max-width: 75%" placeholder="Telefone" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="emailResponsavelContrato">Email:</label>
                                    <input type="email" class="form-control" id="inputEmailResponsavel"
                                        style="max-width: 75%" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="acessoAoSpc">Acesso ao SPC:</label>
                                    <input type="text" class="form-control" id="inputTAcessoAoSpc"
                                        style="max-width: 75%" placeholder="Acesso ao SPC">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="acessoAoSpc">Senha SPC:</label>
                                    <input type="text" class="form-control" id="inputTSenhaSpc" style="max-width: 75%"
                                        placeholder="Senha do SPC">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <button id="btnCadastrarEmpresa" type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </section>
</div>