<div class="content-wrapper">
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Listagem Clientes</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="tabelaClientes" class="display nowrap table table-bordered table-striped"
                    style="width:100% table-layout:fixed">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Email</th>
                            <th>Celular</th>
                            <th>Data</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" id="btnExportar"><i class="fas fa-download"></i> Download</button>
        </div>
    </section>
</div>