<div class="login-box">
    <div><img class="logo-img" src="img/logos/logo.png" alt=""></div>
    <!-- /.login-logo -->
    <div class="card style-border">
        <div class="card-body login-card-body">
            <div class="login-logo">
                <a href="#"><b>Bem vindo Lojista</b></a>
            </div>
            <p class="login-box-msg">Entre com seu usuário e senha</p>
            <form id="signup">
                <div class="input-group mb-3">
                    <input name="login" type="email" class="form-control" placeholder="Email/CPF">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user textfield-icon"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input name="password" type="password" class="form-control" placeholder="Senha">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock textfield-icon"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                                Lembrar
                            </label>
                        </div>
                    </div>
                    <div class="col-6 forgot-password">
                        <a href="../../pages/forms/esqueceuasenha.html" class="forgot-pass">Esqueci minha senha</a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block" id="btnLogin">Entrar</button>
                    </div>
                </div>
               
            </form>
            

        </div>
    </div>
</div>