

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content adm-content">
        <div class="container-fluid">
            <div class="row justify-content-center margin-bottom">
                <div class=" col-4 col-lg-4 col-mb-3">
                    <!-- Default box -->
                    <a href="#">
                        <div class="card h-100 card-style">
                            <div class="card-header">
                                <h3 class="card-title">Pesquisar CPF</h3>

                            </div>
                            <div class="card-body">
                                Análise SPC do CPF
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </a>
                    <!-- /.card -->
                </div>
                <div class="col-4 col-lg-4 col-mb-3">
                    <!-- Default box -->
                    <a href="/simulacao">
                        <div class="card h-100 card-style">
                            <div class="card-header">
                                <h3 class="card-title">Fazer Simulação</h3>

                            </div>
                            <div class="card-body">
                                Faça uma simulação para o cliente
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </a>
                    <!-- /.card -->
                </div>
                <div class="col-4 col-lg-4 col-mb-3">
                    <!-- Default box -->
                    <a href="/cadastroCliente">
                        <div class="card h-100 enviar-form card-style" id="card-form">
                            <div class="card-header">
                                <h3 class="card-title enviar-form" id="form">Preencha e Envie Formulário</h3>

                            </div>
                            <div class="card-body">
                                Preencha o formulário para cadastro e análise do cliente
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </a>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row justify-content-center margin">
                <div class="col-4 col-lg-4 col-mb-3">
                    <!-- Default box -->
                    <a href="#">
                        <div class="card h-100 enviar-form card-style" id="card-form">
                            <div class="card-header">
                                <h3 class="card-title enviar-form" id="form">Imprimir Boleto</h3>

                            </div>
                            <div class="card-body">
                                Imprimir Boleto
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </a>
                    <!-- /.card -->
                </div>
                <div class="col-4 col-lg-4 col-mb-3">
                    <!-- Default box -->
                    <a href="#">
                        <div class="card h-100 enviar-form card-style" id="card-form">
                            <div class="card-header">
                                <h3 class="card-title enviar-form" id="form">Enviar Contrato e Documentos</h3>

                            </div>
                            <div class="card-body">
                                Envie o contrato digitalizado e os documentos do cliente
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </a>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>