<div class="content-wrapper">
    <section class="content">
        <form>
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header ">
                        <h3 class="card-title">Simulacão de Parcelas</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="valorParcela">Valor da Parcela Financeira:</label>
                                    <input type="text" class="form-control" style="max-width: 40%;"
                                        id="inputValorParcela" placeholder="Valor da parcela">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label for="quantidadeVezes">Quantidade de Vezes:</label>
                                    <select class="form-control select2bs4" style="width: 30%;">
                                        <option selected="selected">1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="valorBoleto">Valor do Boleto</label>
                                    <input type="text" class="form-control" id="inputValorBoleto"
                                        style="max-width: 40%;" placeholder="Valor do Boleto">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="valorConsulta">Valor da Consulta</label>
                                    <input type="text" class="form-control" id="inputValorConsulta"
                                        style="max-width: 40%;" placeholder="Valor da Consulta">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nome">Valor Total</label>
                                    <input type="text" class="form-control" id="inputValorTotal" style="max-width: 40%;"
                                        placeholder="Valor Total">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="parcelaCred">Valor da Parcela Crediário GMT</label>
                                    <input type="text" class="form-control" id="inputParcelaCred"
                                        style="max-width: 40%;" placeholder="Parcela Crediário">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="parcelaCred">Valor da Tarifa Cobrada</label>
                                    <input type="text" class="form-control" id="inputParcelaCred"
                                        style="max-width: 40%;" placeholder="Tarifa Cobrada">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Seguir para o formulário</button>
                </div>
            </div><!-- /.container-fluid -->
        </form>
    </section>
    <!-- /.content -->
</div>